.appname {
  font-size: 24px;
}

* {
  font-size: 16px;
}

.banner {
	background: red;
	border: 1px solid yellow;
}
.banner a, .banner a:link, .banner a:visited {
 color: white;
}
.banner a:hover, .banner a:link:hover, .banner a:visited:hover {
 color: gray;
}
.banner button {
  font-size: 10px;
}

.feedback {
  color: red;
}

.unread {
	font-weight: bold;
}

.read {
	font-weight: normal;
}